.wrapper {
  background-image: url("../../../assets/account-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: aliceblue;
  // overflow: hidden;
}

.box-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.account-header {
  .teal {
    color: #31d7a9;
    font-size: 1.4rem;
    margin-bottom: 0.3rem;
  }

  .title {
    margin-bottom: 1.5rem;
    font-size: 2rem;
    font-weight: 700;
    span {
      color: red;
    }
  }

  p {
    margin-bottom: 0.6rem;
  }
}

.account-area {
  padding: 4rem 3.5rem;
  margin: 1rem 4rem !important;
  width: 100%;
  max-width: 500px;
  max-height: 690px;
  box-shadow: 0px 0px 29.4px 0.6px rgb(0 0 0 / 50%);
}

form {
  .mb-3 {
    margin-bottom: 1.5rem !important;
  }
}

.mandatory {
  color: red;
  font-size: larger;
}

.form-text {
  color: lightgray;
}

.teal-color {
  color: #31d7a9;
  text-decoration: none;
  cursor: pointer;
}

.form-control {
  background: transparent;
  border: none;
  border-bottom: 1px solid #23334f;
  border-radius: 0%;
  padding-left: 0 !important;
}

.form-control:focus {
  background: transparent;
  border: none;
  outline: none;
  border-color: transparent;
  padding-left: 1rem !important;
  border-radius: 25px;
  color: aliceblue;
}

.form-label {
  text-transform: uppercase;
  font-size: large;
  color: lightgray;
}

.form-check-label {
  color: #3b60a4f9 !important;
}

input::placeholder {
  color: #3b60a4f9 !important;
  padding-left: 0 !important;
  font-weight: 400;
}

.login-section {
  margin-top: 1.2rem;
}
