.ticket-plan-section {
  padding: 10rem 0;
}

.ticket-plan-wrapper {
  background-color: #01173f;
  padding-inline-start: 0;

}

.ticket-plan-wrapper li {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 0;
  border-bottom: 1px solid #11326f;
}

.left {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  border-right: 1px solid #11326f;
  padding: 2rem;
  width: 60%;
}

.cinema-name {
  color: white;
  font-size: 1.2rem;
  text-transform: uppercase;
  padding: 0 1rem;
}

.location-icon {
  border-radius: 50%;
  background-color: #17305f;
  width: 2.5rem;
  height: 2.5rem;
}

.right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  width:40%;
}

.movie-timing {
  position: relative;
  width: 100%;
  color: #ffffff;
  padding: 0.3rem;
  width: 5.8rem;
  background: #162f5f;

  -webkit-mask-image: url("../../../../assets/Movies/movie-seat.png");
  mask-image: url("../../../../assets/Movies/movie-seat.png");

  -webkit-mask-size: 100%;
  mask-size: 100%;

  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;

  -webkit-mask-position: center center;
  mask-position: center center;

  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}

.movie-timing:hover {
  background-color: #31d7a9;
}


.left:hover {
  .pi-heart-fill {
    color: red !important;
    transform: scale(1.3);
  }

  .pi-map-marker {
    color: red !important;
    transform: scale(1.4);
  }
}

.shake-effect {
  animation: shake 30s;
}

@keyframes shake {
  25% {
    translate: 0 1rem;
  }

  50% {
    translate: 0 1.5rem;
  }

  75% {
    translate: 0 0;
  }
}
