.movie-grid {
  padding-top: 8rem;
  cursor:pointer;
}

.moviecard {
  padding: 1rem;
}

.movie-grid-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 3rem;
}


.bold {
  font-weight: 700;
  font-size: 2.5rem;
  letter-spacing: 1.5px;
  line-height: 45px;
}
