.checkout-section {
  padding: 5rem 0;
}

.checkout-widget {
  padding: 2rem;
  margin-bottom: 3rem;
  background: #032055;
}

.checkout-widget p {
  color: #9aace5;
}

.widget-title {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.5em;
  padding-bottom: 2rem;
  border-bottom: 1px dashed #11326f;
  margin-bottom: 2rem;
}

.checkout-signin {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.user-icon {
  background-image: -webkit-linear-gradient(
    150deg,
    #5560ff 18%,
    #aa52a1 63%,
    #ff4343 100%
  );
  padding: 0.5rem;
  border-radius: 50%;
  font-size: 1.3rem;
}

.signin-area span {
  color: #ffffff;
  margin-left: 10px;
}


.checkout-contact-form {
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  @media screen and (max-width: 576px) {
    text-align: center;
  }
}

.checkout-contact-form .form-group {
  margin-bottom: 2.5rem;
  padding-right: 2.5rem;
  width: 47%;

  @media screen and (max-width: 576px) {
    width: 100%;
  }
}

.form-group input {
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid #11326f;
  // width: 100%;
  color: #ffffff;
  padding-left: 0.5rem;
}

.form-group input:focus {
  outline: none;
}

.form-group input::placeholder {
  font-size: 0.95rem;
  color: #9aace5 !important;
}

.payment-form {
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.payment-form .form-group {
  margin-bottom: 2.5rem;
  display: flex;
  flex-direction: column;
  width: 50%;
}

.payment-form .form-group:nth-child(3) {
  width: 45%;
}
.payment-form .form-group:nth-child(4) {
  width: 45%;
}

.checkout-payment .form-group input {
  height: 60px;
  border-radius: 10px;
  border: 1px solid #11326f;
}

.check-group {
  display: flex;
  flex-direction: row;

  input {
    width: 2.5rem;
    height: 2.5rem;
    clip-path: circle(31% at 50% 50%);
  }

  label {
    padding-left: 1rem;

    .checkbox-title {
      font-size: 1.2rem;
    }

    span {
      font-size: 0.9rem;
    }
  }
}

.form-group label {
  margin-bottom: .5rem;
  font-weight: 400;
}

.booking-payment-details{
  background-color: #032055;
  padding: 2rem;
}
