.img-section{
    position: relative;
}

.img{
    position: absolute;
    opacity: .9;
    top: 240px;
    left: 150px;
    border-radius:8px;
    border: 1px solid #17305f;
}

.book-section{
    
    padding: 47px 0;
    border-top: 1px solid #17305f;
    border-bottom: 1px solid #17305f;
    background-color: #032055
}