* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-size: 16px;
  color: #dbe2fb;
  line-height: 28px;
  overflow-x: hidden;
  font-family: "Open Sans", sans-serif;
  background: #001232;
}

/* .p-dropdown {
  border: none !important;
  background-color: transparent !important;
}

.p-calendar {
  border: none !important;
  background:#001232 !important;
} */

.p-component {
  border: none !important;
  background: #001232 !important;
  color: #ffffff !important;
}

.p-placeholder {
  color: rgb(61, 142, 235) !important;
  /* font-size: medium;
  font-weight: 300 !important;  */
}

.p-inputtext {
  color: #ffffff;
}

.p-card-body {
  background-color: #032055;
}

.p-card-title {
  margin: 0.5rem 0 !important;
  font-size: 1.2rem !important;
}

.p-card-header {
  border-radius: 7px 7px 5px 5px;
  overflow: hidden;
}

.p-card-header img:hover {
  transform: scale(1.1);
  cursor: pointer;
  transition: ease-in;
  transition-duration: 100ms;
}
