* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-size: 16px;
  color: #dbe2fb;
  line-height: 28px;
  overflow-x: hidden !important;
  font-family: "Open Sans", sans-serif;
  background: #001232;
}

a {
  text-decoration: none;
  cursor: pointer;
}

ul{
  padding-inline-start: 0;
}

li{
  list-style: none;
  
}

input::placeholder{
  color: #ffffffe1 !important;
}

.flex-center{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.p-dropdown {
  border: none !important;
  background-color: transparent !important;
}

.p-inputtext {
  color: #ffffff !important;
  background-color: transparent !important;
  border: none;
}

.p-card-body {
  background-color: #032055;
  color: #ffffff;
}

.p-card-title {
  margin: 0.5rem 0 !important;
  font-size: 1.2rem !important;
}

.p-card-header {
  border-radius: 6px 6px 0px 0px;
  overflow: hidden;
}

.p-card:hover {
  .p-card-title {
    color: #31d7a9 !important;
  }

  .p-card-header img {
    transform: scale(1.1);
    cursor: pointer;
    transition: ease-in;
    transition-duration: 100ms;
  }
}

.p-tabview-nav,
.p-tabview-nav-link {
  background-color: #001232 !important;
  color: #31d7a9 !important;
  // text-transform: uppercase;
}

.p-tabview .p-tabview-panels {
  background-color: #001232 !important;
  color: #ffffff;
}

.p-tabview .p-tabview-nav {
  border: 1px solid #11326f;
  border-width: 2px 0 2px 0;
}

.p-tabview-ink-bar {
  background-color: #31d7a9 !important;
}

.p-tabview .p-tabview-nav li .p-tabview-nav-link:not(.p-disabled):focus {
  box-shadow: none;
}

.p-tabview .p-tabview-nav li .p-tabview-nav-link {
  border: 1px solid #11326f;
  border-width: 0 0 2px 0;
}

.pi {
  color: #31d7a9 !important;
}

.p-avatar img {
  object-fit: cover;
  border: 3.5px solid #31d7a9;
}
